# Confidential passwords and such
.env*

# C extensions
*.so

# Optimized cached code
proj/__pycache__/
*.pyo
*.pyc

# Packaging files
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment stuff
venv/
.venv/
Pipfile
Pipfile.lock
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
*.pot

# Sphinx
docs/_build/

# Temporary editor files
*.swp
